@model IEnumerable<Cinema.SharedModels.DTOs.UserMoviesDto>


<h2>WatchedMovies</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>           
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                               
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                        @Html.ActionLink("Rate", "Rate", new { idMovie=item.MovieId, idUser = item.UserId })
                </td>
            </tr>
        }

    </table>
}
